.Layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (max-width: 768px) {
  .Layout {
    flex-direction: column;
    width: 100%;
  }
  .responsiveOutlet {
    display: none;
  }
}
