* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

a {
  color: hsla(0, 0%, 0%, 1);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

